<h3>
  My Tasks
  <img *ngIf="loading" src="assets/loader.gif">
</h3>
<ul>
  <li *ngFor="let task of tasks; let first = first; let last = last;">
    <app-task-list-item
      [task]="task"
      [disabled]="loading"
      [first]="first"
      [last]="last"
      (move)="moveTask($event)"
      (delete)="removeTask($event)"
      (error)="loadTasks()"
    ></app-task-list-item>
  </li>    
</ul>
<button type="button" class="btn btn-primary" (click)="addNewTask()" [disabled]="loading">
  Add New Task
</button>
