<form [formGroup]="form.formGroup" (ngSubmit)="onSubmit()">
  <app-field
    *ngFor="let field of form.fields"
    [field]="field"
    [(model)]="model[field.name]"
    (modelChange)="onFieldChange($event)"
    [formGroup]="form.formGroup"
  ></app-field>
  <div *ngIf="!!form.errorMessage" class="alert alert-danger" [innerHtml]="form.errorMessage"></div>
  <button type="submit" class="btn btn-primary" [disabled]="!form.formGroup.valid">Register</button>
  <button type="reset" class="btn btn-default" (click)="onReset()">Reset</button>
</form>