<mat-toolbar>
  <span class="branding">NgTraining</span>
  <mat-nav-list>
    <mat-list-item [routerLinkActive]="['active']">
      <a [routerLink]="['/home']">Home</a>
    </mat-list-item>
    <mat-list-item [routerLinkActive]="['active']">
      <a [routerLink]="['/task/list']">Tasks</a>
    </mat-list-item>
  </mat-nav-list>
  <span class="spacer"></span>
  <mat-nav-list *ngIf="!authService.user">
    <mat-list-item [routerLinkActive]="['active']">
      <a [routerLink]="['/user/registration']">Registration</a>
    </mat-list-item>
    <mat-list-item [routerLinkActive]="['active']">
      <a [routerLink]="['/user/login']">Log In</a>
    </mat-list-item>
  </mat-nav-list>
  <mat-nav-list *ngIf="!!authService.user">
    <mat-list-item [matMenuTriggerFor]="dropdown">
      {{authService.user.name}}
    </mat-list-item>
    <mat-menu #dropdown="matMenu">
      <a mat-menu-item (click)="authService.logout()">Log Out</a>
    </mat-menu>
  </mat-nav-list>
</mat-toolbar>