input[type=text] {
    margin: 0 12px;
}
input.colorPicker {
    border-radius: 13px;
    border-width: 0;
    cursor: pointer;
    margin-right: 12px;
    width: 26px;
}
:host > button {
    margin-right: 12px;
}
