<h3>Log In</h3>
<form [formGroup]="form" (ngSubmit)="login()">
  <mat-form-field>
    <input matInput formControlName="email" type="text" placeholder="Email">
    <mat-error *ngIf="!form.controls.email.valid && !form.controls.email.pristine ">
      Valid email is required!
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="password" type="password" placeholder="Password">
    <mat-error *ngIf="!form.controls.password.valid && !form.controls.password.pristine ">
      Password is required and should be at least 6 characters long!
    </mat-error>
  </mat-form-field>
  <div class="button-container">
    <button mat-flat-button type="submit" color="primary" [disabled]="!form.valid || loading">Log In</button>
  </div>
</form>
